<h1> <b> TASK MANAGER </b> </h1>

<hr>
Task: <input type = "text" [(ngModel)] = "task_text"/>
<button (click) = "addTask()">Add this task</button>
<hr>

<ol>
    <ng-template ngFor let-task [ngForOf] = "task_list">

      <li>
        <input type = "checkbox" [(ngModel)] = "task.active"/>
        <span *ngIf = 'task.active'   > <s> {{ task.getText() }} </s> </span>
        <span *ngIf = '!(task.active)'>       {{ task.getText() }}        </span>
        <button (click) = "deleteTask( task.getId() )"> Delete this task </button>
      </li>

    </ng-template>
</ol>
